<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]

    #SetEnvIf Origin "http(s)?://(www\.|site-local\.|local-site\.|website\.)?(qisat\.dev|qisat\.com\.br|altoqi\.com\.br|qisat\.local)$" AccessControlAllowOrigin=$0
    #Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin

    #Header set Access-Control-Allow-Credentials true
    #Header set Access-Control-Allow-Methods POST,GET,DELETE,PUT,OPTIONS,HEAD
    #Header set Access-Control-Allow-Headers X-Authorization,X-Requested-With,Content-Type,Origin,Accept,Authorization
</IfModule>